name: Check PR

on:
  pull_request:

jobs:
  check-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: yarn

      - name: Install dependencies
        uses: yarn install --frozen-lockfile

      - name: Check types
        run: yarn build

      - name: Check linting
        run: yarn lint

      - name: Check commits messages
        uses: wagoid/commitlint-github-action@v4

  tests:
    runs-on: ubuntu-latest

    needs: check-pr

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install dependencies
        uses: yarn install --frozen-lockfile

      - name: Run Tests
        run: yarn test
